<ng-container *ngIf="inventoryDetail">
  <div class="card mb-2 top-hero">
    <div class="card-body">
      <table class="table table-border-none table-sm mb-0 table-nco-top">
        <tbody>
          <tr>
            <th>Tail Number</th>
            <td>{{ inventoryDetail.regNo }}</td>
            <th>Squadron</th>
            <td>{{ inventoryDetail.unitCommandHqAtmDesc}}</td>
            <th>Airbase</th>
            <td>{{ inventoryDetail.regionDesc }}, {{ inventoryDetail.commandHqDesc }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>

