@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

body {
    background-color: #222831;
    font-size: 12px;
    /* font-family: 'Nunito Sans', sans-serif; */
}

.top-hero {
    background-color: #393646;
    color: #fff !important
}

.table-sm {
    font-size: 0.9rem
}
.table-sm-08{
    font-size: 0.7rem
}

.table-nco {
    font-size:0.7rem;
    color: #fff;
    border: 1px solid #666
}

.table-nco > thead th {
    background-color: #555555;
    color: #fff;
}

.table-nco th, .table-nco td {
    padding: 2px
}

.table-nco td.text-lime {
    color: lime
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #aaaaaa;
    color: #fff
} 
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #7f7f7f;
}

.inventory-type:hover {
    cursor: pointer;
}

.text-capitalize {
    text-transform: capitalize;
}

.btn-nco {
    padding: 3px 6px;
    line-height: 1;
    font-size: 0.7rem
}

.btn-primary { 
    background-color: #FFD369;
    color: #000;
    border-color: #FFD369;
}

.table-border-none {
    border:none !important;
    color: #fff
}


.table>:not(caption)>*>* {
    border-bottom-width: 0px;
}

.card-nco {
    background-color: #393646;
    color: #fff;
}

.card-inventory-type {
    background-color: #393E46;
    color: #fff;
    font-weight: bold;
}

.btn-info {
    background-color: #F96D00;
    border-color: #F96D00
}

.btn-info:hover {
    background-color: #F5B553;
    border-color: #F5B553
}

.navbar-nco {
background-color: #23120B
}

.topmenu {
    /* position: fixed; */
    width: 100%;
    z-index: 10;
    margin-bottom: 10px;
    left:0;
}

a {
    color: #fff;
    text-decoration: none
}
a:hover {
    color: #fff;
    font-weight: bold;
}
