@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

body {
    background-color: #222831;
    /* font-family: 'Nunito Sans', sans-serif; */
}

.table-sm {
    font-size: 0.9rem
}
.table-sm-08{
    font-size: 0.7rem
}

.table-nco {
    font-size:0.7rem;
    color: #fff;
    border: 1px solid #666
}

.table-nco > thead th {
    background-color: #555555;
    color: #fff;
}

.table-nco th, .table-nco td {
    padding: 2px
}

.table-nco td.text-lime {
    color: lime
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #aaaaaa;
    color: #fff
} 
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #7f7f7f;
}

.inventory-type:hover {
    cursor: pointer;
}

.text-capitalize {
    text-transform: capitalize;
}

.btn-nco {
    padding: 3px 6px;
    line-height: 1;
    font-size: 0.7rem
}

.btn-primary { 
    background-color: #FFD369;
    color: #000;
    border-color: #FFD369;
}