<div *ngIf="!inventory_id" class="mt-1">
  <table class="table table-bordered table-sm text-center table-nco table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th class='text-center'>Tail Number</th>
        <th class='text-center'>Aircraft Type</th>
        <th class='text-center'>Squadron</th>
        <th class='text-center'>Airbase</th>
        <th class='text-center'>Update Record</th>
        <th class='text-center'>Report Monthly</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listItems; let i = index">
        <td>{{ i+1 }}</td>
        <td class="text-center">{{ item.regNo }}</td>
        <td class="text-center">{{ item.astNavyCategoryDesc }}</td>
        <td>{{ item.unitCommandHqAtmDesc }}</td>
        <td>{{ item.regionDesc }}, {{ item.commandHqDesc}}</td>
        <td class="text-center">
          <div class="btn btn-primary btn-sm btn-nco" (click)="addReport(item.id)">Add Report</div></td>
        <td class="text-center">
          <div class='btn btn-primary btn-sm btn-nco' (click)="itemReport(item.id)">View</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-report [inventory_id]="inventory_id"></app-report>