<div class="topmenu">
    <nav class="navbar navbar-nco bg-body-tertiary m-0">
      <div class="container-fluid" style="color:#fff">
        <div class="main-header">
            <a class="navbar-brand" href="/">
              <img src="/assets/images/icons/atm.png" class="img-fluid app-logo"> 
            </a>
            <div class="header-title">
              <h1>{{ title }}</h1>
              <h3>{{ subtitle }}</h3>
            </div>
        </div>
        
        <div class="text-end">
          <ng-container *ngIf="userInfo">
            <div>{{ userInfo.name }} ({{ userInfo.role }})</div>
            <div>{{ userInfo.currentUnit }} - <a href="/logout" >Logout</a></div>
          </ng-container>
          
        </div>
        
      </div>
    </nav>
    <app-subheader id="submenu"></app-subheader>
  </div>
  
  <router-outlet></router-outlet>