.app-logo {
    height: 60px;
}

.header-title {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-title h1 { font-size: 18px; font-weight: bold; margin-bottom:0}
.header-title h3 { font-size: 12px; font-style: italic}
.main-header {
    display:flex;
    justify-content:center;
}

#submenu {
    /* padding: 0 12px */
}